<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img
        src="https://images.squarespace-cdn.com/content/v1/5ccb1c94809d8e130ff3948f/1557349811611-3T37Z0PT56XJLY015AA2/ke17ZwdGBToddI8pDm48kPC34NS_-rWxvkyccgBcwexZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzAfiYoPU2TK1P4Z1XP2Z1_RymfVCaFXykgGWqwuxW4K76Zu8h7KLBYzvS70scHuYc/NTT-DATA-Logo-Black.png"
        width="100"
        height="120"
      />
    </a>
  </div>
</nav>

<!-- <app-login> </app-login> -->
<!-- <app-data-view></app-data-view> -->
<router-outlet></router-outlet>
